name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: yarn
      - name: Installing dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: |
          yarn lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: yarn
      - name: Installing dependencies
        run: yarn install --frozen-lockfile
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Cache pip
        uses: actions/cache@v5
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Test
        run: |
          yarn test
      - name: Build TypeScript
        run: |
          yarn build

  docker-build:
    runs-on: ubuntu-latest
    env:
      IMAGE: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v6
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
      - name: Build
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: 'ghcr.io/${{ env.IMAGE }}:test'
      - name: Test that Commodore is available in PATH in the built container
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        run: |
          docker run --rm ghcr.io/${{ env.IMAGE }}:test commodore version
      - name: Test that Helm is available in PATH in the built container
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        run: |
          docker run --rm ghcr.io/${{ env.IMAGE }}:test helm version
      - name: Test that Kustomize is available in PATH in the built container
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        run: |
          docker run --rm ghcr.io/${{ env.IMAGE }}:test kustomize version
      - name: Test that jsonnet-bundler is available in PATH in the built container
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        run: |
          docker run --rm ghcr.io/${{ env.IMAGE }}:test jb --version
      - name: Check container user and home directory
        if: contains(steps.changed-files.outputs.modified_files, 'Dockerfile')
        run: |
          docker run --rm ghcr.io/${{ env.IMAGE }}:test whoami
          docker run --rm ghcr.io/${{ env.IMAGE }}:test sh -c 'echo $HOME'
          docker run --rm ghcr.io/${{ env.IMAGE }}:test sh -c 'ls $HOME'
